.RH-LAYOUT-CENTERPANEL-topic-box p.Bulleted {
    margin-bottom: 0;
    font-family: 'Garamond', 'serif';
    font-size: 12pt;
    line-height: 108%;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    font-style: normal;
    font-weight: normal
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.List0 {
counter-reset: section01;
list-style:none;
padding-left: 40px;
margin-left: 0px
}
.RH-LAYOUT-CENTERPANEL-topic-box ul.List1 {
counter-reset: section11;
list-style:none;
padding-left: 40px;
margin-left: 0px
}
.RH-LAYOUT-CENTERPANEL-topic-box p.ListNumber5 {
    margin-bottom: 0;
    font-family: 'Garamond', 'serif';
    font-size: 12pt;
    line-height: 108%;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    font-style: normal;
    font-weight: normal
}
.RH-LAYOUT-CENTERPANEL-topic-box {}
.RH-LAYOUT-CENTERPANEL-topic-box ol.List0>li {
 position: relative
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.List0>li::before {
counter-increment: section01;
content:counter(section01,decimal)".";
text-align: right;
position: absolute;
left: -44px;
margin-right: 4px;
width: 40px;
overflow: hidden
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.List0>li::before::before {
width: 40px
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.List0>li::before::before {
margin-right: 4px
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.List0>li::before::before {
left: -44px
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.List0>li::before::before {
left: -44px
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.List0>li::before::before {
left: -44px
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.List0>li::before::before {
left: -44px
}
.RH-LAYOUT-CENTERPANEL-topic-box ul.List1>li {
 position: relative
}
.RH-LAYOUT-CENTERPANEL-topic-box ul.List1>li::before {
counter-increment: section11;
content:counter(bullet,disc);
text-align: right;
position: absolute;
left: -44px;
margin-right: 4px;
width: 40px;
overflow: hidden
}
.RH-LAYOUT-CENTERPANEL-topic-box ul.List1>li::before::before {
width: 40px
}
.RH-LAYOUT-CENTERPANEL-topic-box ul.List1>li::before::before {
margin-right: 4px
}
.RH-LAYOUT-CENTERPANEL-topic-box ul.List1>li::before::before {
left: -44px
}
.RH-LAYOUT-CENTERPANEL-topic-box ul.List1>li::before::before {
left: -44px
}
.RH-LAYOUT-CENTERPANEL-topic-box ul.List1>li::before::before {
left: -44px
}
.RH-LAYOUT-CENTERPANEL-topic-box ul.List1>li::before::before {
left: -44px
}